*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
}

body {
    background-color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-width: fit-content;
}

.navigation {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid grey;
}

.container {
    padding: 1em 0 1em 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    padding: 0 1em;
    height: 25%;
    width: 100px;
}

.search {
    border: 1px solid grey;
    border-radius: 26px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    width: 10px;
    margin-right: 1em;
}

.icon {
    margin-right: 1.5em;
    width: 25px;
    height: 25px;
}

.gallery {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 16rem 16rem;
    position: relative;
    justify-content: center;
    top: 230px;
}

.profile-profile {
    width: 100%;
}

.profile {
    display: flex;
    margin-top: 6em;
    position: relative;
    right: 900px;
}

.profile-photo img {
    width: 200%;
    position: relative;
    right: -450px;
    border-radius: 50%;
  }


.edit-profile-form .name-input{
  position: relative;
  top: -50px;
}

.edit-profile-form .bio-input{
  position: relative;
  top: 0px;
  right: 185px;
}
  
.edit-button{
  background-color: #77C3EC;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
}

.info{
  top: 100px;
  position: relative;
  right: 175px;
  width: 100%;
  padding: 7.5px 7.5px 5px;
}

  .profile-photo img:hover {
    opacity: 0.7;
  }
  
  .info .name {
    font-size: 1.7em;
    color: #545454;
    margin-bottom: 0;
    border-bottom: 1px solid black;
  }
  
  .info .about {
    font-size: 1.2em;
    color: #545454;
    position: relative;
    top: 18px;
  }
  
  .info button {
    background-color: #77C3EC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
  }
  
  .info button:hover {
    background-color: #77C3EC;
  }
  
  .edit-profile-form input {
    position: relative;
    top: 5000px;
  }
  
  .edit-profile-form button {
    margin: 1em 1em 0 0;
  }
  
  .edit-profile-form .cancel-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
  }



.signInDiv{ 
    
    position: relative;
    display: flex;
    top: .5rem;
    z-index: 2;    

}






.login-text {
    position: relative;
    text-align: center;
    right: 3.5rem;
    top: 10rem;
    font-weight: 500;
}

.profile-info button {
  background-color: #0095f6;
  color: #fff;
  font-size: 1.1em;
  width: 6em;
  height: 2em;
}

.add-button{
  position: relative;
  top: 30px;
  left: 330px;
  font-size: 100px;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 768px){
  .add-button{
    position: relative;
  }
}

@media screen and (min-width: 1030px){
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    justify-content: center;
}
  .add-button{
    position: relative;
    top: 50px;
    left: 1350px;
    font-size: 100px;
    background-color: transparent;
    border: none;
}
  .info{
    top: 150px;
    position: relative;
    left: 100px;
    width: 100%;
    padding: 7.5px 7.5px 5px;
}

.profile-photo img {
  width: 200%;
  position: relative;
  top: 50px;
  right: -300px;
  border-radius: 50%;
}
}

