*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
}

body {
    background-color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-width: fit-content;
}

.navigation {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid grey;
}

.container {
    padding: 1em 0 1em 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    padding: 0 1em;
    height: 25%;
    width: 100px;
}

.search {
    border: 1px solid grey;
    border-radius: 26px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    width: 10px;
    margin-right: 1em;
}

.icon {
    margin-right: 1.5em;
    width: 25px;
    height: 25px;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    justify-content: center;
}

.profile-profile {
    width: 100%;
}

.profile {
    display: flex;
    margin-top: 6em;
    position: relative;
    right: 900px;
}

.profile-photo img {
    width: 100%;
    position: relative;
    right: 100px;
    border-radius: 50%;
  }

.info{
  width: 100%;
  padding: 7.5px 7.5px 5px;
}


  .profile-photo img:hover {
    opacity: 0.7;
  }
  
  .profile-info .name {
    font-size: 1.7em;
    color: #545454;
    margin-bottom: 0;
  }
  
  .profile-info .about {
    font-size: 1.2em;
    color: #545454;
  }
  
  .profile-info button {
    background-color: #0095f6;
    color: #fff;
    font-size: 1.1em;
    width: 6em;
    height: 2em;
  }
  
  .profile-info button:hover {
    background-color: #0081d6;
  }
  
  .edit-profile-form input {
    width: 50%;
    height: 2em;
    border: 0.1em solid #dbdbdb;
    border-radius: 0.2em;
    padding: 0.5em;
    margin-top: 0.5em;
  }
  
  .edit-profile-form button {
    margin: 1em 1em 0 0;
  }
  
  .edit-profile-form .cancel-button {
    background-color: #890000;
  }

.google-button {
=======
.signInDiv { 

    position: relative;
    display: flex;
    top: .5rem;
    z-index: 2;    

}


.login-text {
    position: relative;
    text-align: center;
    right: 3.5rem;
    top: 10rem;
    font-weight: 500;
}

@media only screen and(mid-width: 768px){
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }
}

@media only screen and(mid-width: 1030px){
  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    justify-content: center;
}
}

